<div class="background-color:white">
    <div class="background-color:white">
        <div class="container py-4 display-flex">
            <hr style="height: 1px; border: width 0px; color:gray;background-color:gray">
            <div class="d-flex justify-content-start">
                <div>
                    <span class="fw-bold fs-1">This first heading</span><span class="text-secondary fw-bold fs-1"> Will
                        catch your eye</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequatur, magni impedit
                        dolorem quis asperiores illum odit ea sit, tempore provident voluptatibus quidem tenetur cumque?
                        Quos odit ducimus sapiente ipsa nisi vel sit eius? Quisquam excepturi nulla velit aperiam
                        repudiandae.</p>
                </div>
                <img class="rounded-circle ms-3" src="./assets/img/1.jpg" alt="img" height="250" width="250">
            </div>
        </div>
    </div>
</div>